S3_ENDPOINT=https://s3.twcstorage.ru
S3_REGION=ru-1
S3_BUCKET=ilya-anna-wedding
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_PREFIX=guest-media/2026-09-06
S3_PUBLIC_BASE_URL=https://s3.twcstorage.ru/ilya-anna-wedding
MAX_UPLOAD_MB=300
